@font-face {
  font-family: virtue;
  src: url(./fonts/virtue.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: virtue;
  font-weight: 100;
}

body {
  background-color: black;
}

.gridContainer {
  background-color: rgb(216, 216, 216);
  border-radius: 20px 20px 0px 0px;
  height: 30px;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: 'left center center right';
}
.left {
  grid-area: left;
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
}

header h1 {
  text-align: center;
}
.desktop {
  width: 100vw;
  height: 100vh;
  background: url(./media/Mac-Os-9-Wallpaper-10.jpg);
  background-size: cover;
  display: inline-grid;
}

.window {
  background-color: white;
  border: 5px solid rgb(216, 216, 216);
  position: absolute;
  z-index: 9;
  max-width: 700px;
  min-width: 50vw;
  top: 100px;
  left: 200px;
}
.content {
  padding: 20px;

  border: 1px solid black;
}
.indent {
  text-indent: 2em;
}

.header {
  text-align: center;
  background: rgb(216, 216, 216);
  cursor: move;
}
.header p {
  display: inline-grid;
  width: auto;
}
.header button {
  float: left;
  border: 1px solid black;
  width: 17px;
  height: 17px;
}
.links {
  text-align: right;
  margin-right: 50px;
  list-style-type: none;
}

i {
  font-size: 3em;
  color: rgb(216, 216, 216);
  text-align: center;
}
i p {
  /* max-width: 50px; */
  font-size: 12px;
  color: black;
  text-align: center;
  /* background: rgb(216, 216, 216); */
  padding: 2px;
  background: none;
}
.socialIcons img {
  width: 20px;
  float: right;
  margin-left: 10px;
}
.gridContainer p {
  width: 100%;
  text-align: center;
}

.projectIconWindow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: flex-start;
  column-gap: 0.5rem;
}
