@font-face {
  font-family: virtue;
  src: url(./fonts/virtue.ttf);
}

* {
  padding: 0;
  margin: 0;
  font-family: virtue;
  font-weight: 100;
}

body {
  background-color: black;
}

header {
  background-color: rgb(216, 216, 216);
  border-radius: 20px 20px 0px 0px;
  height: 50px;
}
header h1 {
  text-align: center;
}
.desktop {
  width: 100vw;
  height: 100vh;
  background: url(./media/Mac-Os-9-Wallpaper-10.jpg);
  background-size: cover;
  display: inline-grid;
}

.aboutMe {
  position: absolute;
  z-index: 9;
  max-width: 700px;
  justify-self: center;
  align-self: center;
}

.window {
  background-color: white;
  border: 5px solid rgb(216, 216, 216);
}
.content {
  padding: 20px;
  text-indent: 2em;
  border: 1px solid black;
}
.header {
  text-align: center;
  background: rgb(216, 216, 216);
}
.header p {
  display: inline;
  width: auto;
}
.header button {
  float: left;
  border: 1px solid black;
  width: 17px;
  height: 17px;
}
.links {
  text-align: right;
  margin-right: 50px;
  list-style-type: none;
  font-size: 3em;
  color: rgb(216, 216, 216);
}
i p {
  font-size: 12px;
  color: black;
  text-align: center;
  background: rgb(216, 216, 216);
  padding: 2px;
}
